/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 13, 2020, 6:35:20 PM
    Author     : hoang
*/
.container {
    font-family: 'Roboto', sans-serif;
    padding-bottom: 43px;
}

.container table a {
    color: #0055ff;
}

.container table a:hover {
    text-decoration: underline;
}

.container table a:visited {
    color: #0055ff;
}

.container .page-container {
    display: flex;
    justify-content: center;
    margin: 30px 0 40px 0;
}

.container .page-container .page-item {
    margin: 0 5px;
    border: 1px solid #333;
    border-top: 4px solid #131627;
    border-bottom: 4px solid #131627;
    display: block;
    width: 30px;
    text-align: center;
    height: 35px;
    line-height: 27px;
    color: #131627;
    transition: all .2s;
}

.container .page-container .page-item:hover {
    background: #131627;
    color: #21d397;
}

.container .page-container .active {
    background: #131627;
    color: #21d397;
}

.container .product-table {
    position: relative;
    margin-top: 100px;
}

.container .search-form {
    position:relative;
    margin: 30px 0 50px 0;
    padding: 0;
    justify-content: center;
}

.container .search-form .search-btn {
    color: #fff;
    background: #131627;
    transition: all .2s;
    border: none;
    border-radius: 0;
}

.container .search-form .search-btn:hover {
    color: #21d397;
}

.container .search-form .view-all-btn {
    position: absolute; 
    top: 0;
    right: 0; 
    display: block; 
    padding: 0 20px; 
    height: 36px; 
    line-height: 36px; 
    border: none;
    color: #fff;
    background: #131627;
    transition: all .2s;
}

.container .search-form .view-all-btn:hover {
    color: #21d397;
}

.container .product-table .products-deleting-btn {
    position: absolute; 
    top: -70px; 
    right: 0; 
    display: block; 
    padding: 0 20px; 
    height: 40px; 
    line-height: 40px; 
    border: none;
    outline: none;
    color: #fff;
    background: #131627;
    transition: all .2s;
}

.container .product-table .products-deleting-btn:hover {
    color: #21d397;
}


.container .product-table .product-adding-btn {
    position: absolute; 
    top: -70px; 
    left: 0; 
    display: block; 
    padding: 0 20px; 
    height: 40px; 
    line-height: 40px; 
    border: none;
    color: #fff;
    background: #131627;
    transition: all .2s;
}

.container .product-table .product-adding-btn:hover {
    color: #21d397;
}

