.container {
    font-family: 'Roboto', sans-serif;
    padding-bottom: 43px;
}

.container .search-form {
    position:relative;
    margin: 30px 0 50px 0;
    padding: 0;
    justify-content: center;
}

.container .search-form .search-btn {
    color: #fff;
    background: #131627;
    transition: all .2s;
    border: none;
    border-radius: 0;
}

.container .search-form .search-btn:hover {
    color: #21d397;
}

.container .search-form .view-all-btn {
    position: absolute; 
    top: 0;
    right: 0; 
    display: block; 
    padding: 0 20px; 
    height: 36px; 
    line-height: 36px; 
    border: none;
    color: #fff;
    background: #131627;
    transition: all .2s;
}

.container .search-form .view-all-btn:hover {
    color: #21d397;
}

.container .products-container {
    display: flex;
    flex-flow: row wrap;
} 

.container .products-container .card {
    box-sizing: border-box;
    width: 23%;
    margin: 0 1% 30px 1%;
    transition: all .2s;
}

.container .products-container .card:hover {
    box-shadow: 0 4px 10px 3px rgba(0, 0, 0, .2);
}

.container .products-container .card .card-body {
    position: relative;
}

.container .products-container .card .card-body .card-title .product-title {
    color: #131627;
}

.container .products-container .card .card-body .card-title .product-title:hover {
    text-decoration: underline;
}

.container .products-container .card .card-body .card-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
} 

.container .products-container .card .card-body .card-price {
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    right: 10px;
}

.container .page-container {
    display: flex;
    justify-content: center;
    margin: 30px 0 40px 0;
}

.container .page-container .page-item {
    margin: 0 5px;
    border: 1px solid #333;
    border-top: 4px solid #131627;
    border-bottom: 4px solid #131627;
    display: block;
    width: 30px;
    text-align: center;
    height: 35px;
    line-height: 27px;
    color: #131627;
    transition: all .2s;
}

.container .page-container .page-item:hover {
    background: #131627;
    color: #21d397;
}

.container .page-container .active {
    background: #131627;
    color: #21d397;
}
